<%- include('partials/navbar')%>

    <% if (locals.user) { %>

        <% for(const message of messages) { %>
        <div class="message">
            <p><%=message.title%></p>
            <p><%=message.text%></p>
            <p><%=message.created_at%></p>
            <p>
            <% if(user.member){ %>
            <%=user.firstname%>
            <%} else {%>
            Anonymous
            <%}%>
            </p>
        </div>
        <% } %>
        <% } else { %>

        <p>not logged in</p>

            <% } %>
