<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <title>Home</title>
</head>
<body>
<%- include('partials/navbar')%>

<div class="content-wrapper">
    <div class="messages-wrapper">
        <% for(const message of messages) { %>
            <div class="message">
                <div class="message-header">
                    <p class="message-user">
                        @<% if(user.member){ %>
                        <%=message.user.username%>
                        <%} else {%>
                        Anonymous
                        <%}%>
                    </p>
                    <p class="message-added"><%= message.created_at.toLocaleDateString() %></p>
                </div>
                <p class="message-user"><%=message.title%></p>
                <p class="message-text"><%=message.text%></p>
                <% if(user.admin){ %>
                <form action="/delete-message" method="POST">
                    <input type="hidden" name="messageId" value="<%= message.id %>">
                    <button class="message-delete" type="submit">Delete</button>
                </form>

                <%}%>
            </div>
        <% } %>
    </div>
</div>


    
</body>
</html>

